<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QQ侧拉栏的实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E942C41C32237A00B075CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E942DD1C32237A00B075CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E942E81C32237B00B075CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
